/*   max-width: 1800px; */
body {
  overflow-x: hidden;
}

#navbar {
  position: relative;
  z-index: 999;
}

#navbar ul li {
  color: #333;
  display: inline-block;
  padding: 1rem;
  position: relative;
  text-align: center;
}

#navbar ul li ul {
  display: none;
  width: 100%;
}

#navbar>ul>li>a {
  height: 40px;
}

#navbar ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  margin-top: 1rem;
}

#navbar ul li:hover ul li {
  display: block;
  background: #e7e7e7;
}

#navbar ul li ul li:hover {
  background: rgb(179 175 175);
}

#navbar>ul>li {
  width: 13%;
}

.logo a {
  background: url(../img/logo_nintendo_red.gif) no-repeat center;
  display: block;
  margin: 10px;
}

.logo {
  background: #e60012;
  text-indent: -9999999px;
  width: 15%;
  height: 54px;
}

#navbar .login {
  width: 93px;
  position: absolute;
  right: 78px;
  height: 53px;
}

#navbar .login a {
  display: block;
  height: 28px;
  width: 82px;
  margin: -4px -15px;
  background: #ff7f50ed;
  padding: 3px 0px;
  border-radius: 40px;
  color: #fff;
}

#navbar .search {
  width: 75px;
  background: url(../img/search.png) no-repeat 0 0;
  position: absolute;
  right: 0;
  top: 12px;
}

.sub_main {
  background: url(../img/nintendo_sub_1.jpg) no-repeat center;
  background-size: cover;
  height: 1408px;
}

.sub_main_logo {
  background: url(../img/sub_1_logo_white.svg) no-repeat center;
  background-size: 15em;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-173%, 206px);
  height: 880px;
  width: 500px;
  z-index: 999;
}

.sub_main_txt {
  background: url(../img/sub_1_first_copy.svg) no-repeat center;
  background-size: 55em;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-78%, 945px);
  height: 280px;
  width: 1290px;
  z-index: 999;
}

.sub_main_txt_2 {
  background: url(../img/sub_1_second_name.svg) no-repeat center;
  background-size: 65em;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-72%, 1035px);
  height: 299px;
  width: 1290px;
  z-index: 999;
}

.sub_main_price {
  background: url(../img/sub_1_price.svg) no-repeat center;
  background-size: 33em;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(103%, 1035px);
  height: 299px;
  width: 1290px;
  z-index: 999;
}

.content_1 {
  margin: 100px auto 0 auto;
  max-width: 1800px;
}

.content_1 h3 {
  text-align: center;
  font-size: 26px;
  padding: 0 0 8px 0;
  width: 160px;
  margin: 0 auto 80px auto;
  border-bottom: 3px solid #e60012;
}

.content_1 li:nth-child(1) .c1_img {
  background: url(../img/sale_1.png) no-repeat center;
  height: 354px;
  width: 565px;
}

.content_1 li:nth-child(2) .c1_img {
  background: url(../img/sale_2.png) no-repeat center;
  height: 354px;
  width: 565px;
}

.content_1 li:nth-child(3) .c1_img {
  background: url(../img/sale_3.png) no-repeat center;
  height: 354px;
  width: 565px;
}

.content_1 ul li {
  margin: 0 15px 0 15px;
}

.c1_txt_sp {
  border: 1px solid #e60012;
  font-weight: 700;
  margin: 4px 10px 20px 0;
  height: 27px;
  font-size: 12px;
  color: #e60012;
  line-height: 27px;
  text-align: center;
  box-sizing: border-box;
}

.c1_txt_1 {
  font-weight: 500;
  font-size: 14px;
}

.c1_txt_1::before {
  background-color: #e60012;
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  bottom: 2px;
  left: 0;
}

.c1_txt_2 {
  font-size: 18px;
  padding-top: 4px;
  line-height: 1.4;
  color: #222;
  font-weight: 600;
}

.c1_txt_3 span {
  font-size: 14px;
  margin-top: -0.4em;
  margin-bottom: -0.4em;
  padding-bottom: 15px;
  min-height: 12px;
  color: #222;
  font-weight: 600;
}

.content_1 ul li:hover .c1_img {
  filter: brightness(1.1);
}

.content_1 ul li:hover span,
.content_1 ul li:hover div {
  color: #e60012;
}

.content_1_bt {
  margin: 100px auto 200px auto;
  max-width: 1800px;
}

.content_1_bt a {
  border: 1px solid rgb(119, 119, 119);
  font-weight: 600;
  max-width: 1800px;
  display: block;
  text-align: center;
  padding: 10px;
}

.content_1_bt a:hover {
  border: 1px solid #e60012;
  color: #e60012;
  transition: all 0.5s;
  background-color: #e7e7e7;
}

.content_2 {
  display: flex;
  justify-content: center;
}

.joycon {
  margin: 130px 0 30px 0;
}

.control {
  margin: 0 0 30px 0;
}

.content_2_ct {
  width: 500px;
}

.content_2_ct p {
  text-align: center;
}

.content_3 {
  max-width: 1440px;
  margin: 250px auto;
  position: relative;
}

.content_3 .content3_img {
  background: url(../img/content_3_img.jpg) no-repeat center;
  height: 425px;
}

.content_3 .content3_txt {
  background: #e60012;
  height: 355px;
  width: 355px;
  color: #fff;
  position: absolute;
  top: 38px;
  left: 38px;
}

.content_3 .content3_txt h3 {
  font-size: 32px;
  margin: 40px 20px 30px 40px;
}

.content_3 .content3_txt p {
  font-size: 14px;
  margin: -0.65em 20px -0.35em 40px;
}

.content4_left {
  height: 400px;
  max-width: 800px;
}

.content4_txt_top h3 {
  color: #fff;
  font-size: 32px;
}

.content_4 {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  height: 800px;
}

.content4_left img {
  height: 712px;
}

.content4_txt {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.content4_txt_top {
  background: #e60012;
  width: 200%;
  padding: 28px 28px;
}

.content4_txt_bottom {
  margin: 50px 0 0 50px;
}

.content4_txt_bottom h4::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 22px;
  margin-right: 14px;
  background: #e60012;
}

.content4_txt_bottom h4 {
  font-size: 22px;
  margin-bottom: 32px;
  line-height: 1;
  font-weight: 700;
}

.content4_txt_bottom p {
  font-size: 16px;
  margin-top: -0.65em;
  margin-bottom: -0.35em;
  width: 468px;
  height: 128px;
}
.content_5{
  background: url(../img/fixed_visual.jpg) center center fixed no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_5_logo{
  height: 185px;
  margin: auto;
}
.ct_bn_wrap {
  margin: 95px auto;
  max-width: 1440px;
}
.link_wrap {
  max-width: 1440px;
  margin: auto;
}
.ct_bn_wrap img {
  margin: 25px;
}
.ct_bn_wrap img:hover{
  transform: translate(0,-10px);
  filter: brightness(1.2);
  transition: all .3s;
}
footer {
  padding: 30px 0;
  background: #f5f5f5;
}

.footer_wrap a,
.footer_wrap span,
.footer_wrap p {
  font-size: 14px;
  color: #737373;
}

footer address {
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}

.footer_wrap {
  max-width: 1440px;
  margin: auto;
}
/* topbt */
#back-to-top{
  position: fixed;
  bottom: 3em;
  right: 3em;
  background-color: #ff7f50ed;
  color: #fff;
  display: inline-block;
  padding: 1em;
  border-radius: 5px;
  text-decoration: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
#back-to-top:hover{
  background-color: #ff7f50;
  padding: 1em 3em;
}
#back-to-top.visible{
  opacity: 1;
}
/* Swiper JS */
.swiper-container {
  width: 100%;
  height: 192px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: calc((100% - 30px) / 2);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}