* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "맑은 고딕", "Malgun-Godik", sans-serif;
}
h1 {
  height: 53px;
}
#navbar {
  position: relative;
  z-index: 999;
}
#navbar ul li {
  color: #333;
  display: inline-block;
  padding: 1rem;
  position: relative;
  text-align: center;
}
#navbar ul li ul {
  display: none;
  width: 100%;
}
#navbar > ul > li > a {
  height: 40px;
}
#navbar ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  margin-top: 1rem;
}
#navbar ul li:hover ul li {
  display: block;
  background: #e7e7e7;
}
#navbar ul li ul li:hover {
  background: rgb(179 175 175);
}
#navbar > ul > li {
  width: 15%;
}
.logo a {
  background: url(../img/logo_nintendo_red.gif) no-repeat center;
  display: block;
  margin: 10px;
}
.logo {
  background: #e60012;
  text-indent: -9999999px;
  width: 15%;
}
#navbar .login {
  width: 93px;
  position: absolute;
  right: 78px;
  height: 53px;
}
#navbar .login a {
  display: block;
  height: 28px;
  width: 82px;
  margin: -4px -4px;
  background: #ff7f50ed;
  padding: 3px 0px;
  border-radius: 40px;
  color: #fff;
}
#navbar .search {
  width: 75px;
  background: url(../img/search.png) no-repeat 0 0;
  position: absolute;
  right: -20px;
  top: 14px;
}
/* //navbar */
/* contents */
h3 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -0.085em;
  margin: 0 0 15px 0px;
}
.content_1 {
  float: left;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 95px);
}
.content_1 h3 > span {
  margin-left: 11px;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: -0.01em;
}
/*  */
.content_1 .news_top {
  display: flex;
}
.content_1 .news_bottom {
  display: flex;
}
.content_1 .news_txt {
  width: 276px;
}
.content_1 .news {
  flex-direction: row;
  justify-content: center;
  height: 307px;
  margin: 0 30px 0 0;
}
.content_1 .news img {
  border-radius: 30px;
}
.content_1 .news img:hover {
  border-radius: 30px;
  transition: all 0.2s;
  filter: brightness(110%);
}
.content_2 a {
  position: relative;
  display: block;
  height: 140px;
  background: #fe7c0a;
  top: 800px;
  color: #fff;
  font-size: 2em;
  text-align: center;
  padding: 45px;
}
.content_3 {
  position: absolute;
  top: 1900px;
  left: 50%;
  transform: translate(-50%, 95px);
}
.content_3 .im_software_top {
  display: flex;
}
.content_3 .im_software_top .im_software {
  flex-direction: row;
  justify-content: center;
  height: 307px;
  margin: 0 30px 0 0;
}
.content_3 .im_software_top .im_software img {
  border-radius: 30px;
}
.content_3 .im_software_top .im_software img:hover {
  border-radius: 30px;
  transition: all 0.2s;
  filter: brightness(110%);
}
/* //contents */
/* ========swiper========== */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 70%;
  object-fit: cover;
}
